* {
  margin: 0;
}

html,
body {
    height: 100%;
}

body{
    font-family:Arial, Arial, Helvetica, sans-serif;
    background-color: mintcream;
}

h1 {
    padding: 200px;
}

p{
    margin: 0.5em 0 0.5em 0;
}

header{
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: forestgreen;
    padding: 10px;
}

nav a:visited,
nav a:link{
    color:white;
    text-decoration: none;
}

nav > ul{
    display: inline;
    padding: 0;
}

nav > ul > li{
    display: inline-block;
    list-style: none;
    margin: 0 5px 0px 5px;
}


article {
    text-align:center;
    margin: 2.5em 0 2.5em 0;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

